.navbar-brand{
                font-family: 'Rubik Maze', cursive;
                font-size:45px;
                color:#ebf705;

                                }

            .navbar{
                   background-color: #02f6fa;
            }

 .div23 {
    background-color: #02f6fa;

 }